.dropZoneHeader {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dropZoneHeader:hover {
  background-color: rgba(0, 110, 255, 0.075);
}

.dropZoneHeader p {
  text-align: center;
}

.dropZoneFooter {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  min-height: 40px;
  max-height: fit-content;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border: none;
}

.dropZoneFooter > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.dropZoneFooter > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
